<!-- <?xml version="1.0"?>

<launch>
    <arg name="pedestrian_scenario" default="" />
    <arg name="overwrite_pedestrian_scenario" default="false" />
    <arg name="config_file" default="$(find pedestrian_simulator)/config/configuration.yaml"/>

    <rosparam command="load" file="$(arg config_file)"/>

    <param name="pedestrian_simulator/node/scenario" value="$(arg pedestrian_scenario)" if="$(arg overwrite_pedestrian_scenario)"/>

    <node pkg="pedestrian_simulator" type="pedestrian_simulator_node" name="pedestrian_simulator_node" cwd="node" respawn="false" output="screen"/>    
</launch>   -->

<launch>
    <!-- <arg name="config_file" default="$(find pedestrian_simulator)/config/configuration.yaml"/> -->
    <!-- <rosparam command="load" file="$(arg config_file)"/> -->
    <!-- <param name="pedestrian_simulator/node/scenario" value="$(arg pedestrian_scenario)" if="$(arg overwrite_pedestrian_scenario)"/> -->

    <node pkg="pedestrian_simulator" exec="pedestrian_simulator_node" name="pedestrian_simulator" output='screen'>
        <param from="$(find-pkg-share pedestrian_simulator)/config/configuration.yaml"/>
    </node>
</launch>
